In [11]:
import pandas as pd
from column_names_groups import *
from mfyfunctions import *
from analysis_functions import *

In [12]:
pd.set_option('display.float_format', '{:.1f}'.format)
pd.set_option('display.max_colwidth', None)
# noinspection PyTypeChecker
threshold_date = pd.Timestamp('2022-09-30')

In [13]:
follow_up = pd.read_csv(r'011/datasets/0100_ps_fu_092310.csv')
follow_up[follow_up_date_columns] = follow_up[follow_up_date_columns].apply(pd.to_datetime)
# group_counseling[g_numerical_variables] = intake0[intake_numerical_variables].astype('Int64')
# intake0 = intake0[(intake0[intake_date_columns] > threshold_date).any(axis=1)]

In [20]:
# Calling screening dataset to get some information for intake
scr = pd.read_csv(r'011/datasets/0000_ps_sc_092310.csv')
scr[screening_date_columns] = scr[screening_date_columns].apply(pd.to_datetime)
scr[screening_all_int_columns] = scr[screening_all_int_columns].astype('Int64')
unique_scr = scr.drop_duplicates(subset='rid')

In [15]:
follow_up

,fusp,fuspi,rid,fcid,3m,6m,12m,status,closure_reason
0,YQ,1,R0130,8110010011,2021-04-07,NaT,NaT,1,-2.0
1,YQ,2,R0024,8110020012,2020-11-24,2021-02-15,2021-08-17,1,1.0
2,YQ,3,R0010,8110020013,2020-12-04,2020-02-15,2020-08-19,1,1.0
3,YQ,4,R0007,8110020016,NaT,NaT,NaT,1,-4.0
4,YQ,5,R0006,8110020017,2020-11-10,2020-03-02,2021-08-05,1,1.0
...,...,...,...,...,...,...,...,...,...
161,IJ,10,R0567,8110090007,NaT,NaT,NaT,1,NaN
162,IJ,11,R0574,8110080007,2023-09-27,NaT,NaT,0,NaN
163,IJ,13,R0583,8110080011,NaT,NaT,NaT,1,NaN
164,IJ,14,R0518,8110090004,2023-09-27,NaT,NaT,0,NaN
165,IJ,15,R0591,8110050092,2023-09-29,NaT,NaT,0,NaN

In [16]:
follow_up = melt_and_categorize_dates(
    follow_up,
    date_columns=follow_up_date_columns,
    sort_by_date=True,
    var_name='type',
    value_name='date',
    var_position=4,
    value_position=5
)

In [17]:
follow_up

    fusp  fuspi    rid        fcid type       date  status  closure_reason
0     YQ      3  R0010  8110020013   6m 2020-02-15       1             1.0
1     YQ      9  R0005  8110020021   6m 2020-02-15       1             1.0
2     YQ      5  R0006  8110020017   6m 2020-03-02       1             1.0
3     YQ      9  R0005  8110020021  12m 2020-08-16       1             1.0
4     YQ      3  R0010  8110020013  12m 2020-08-19       1             1.0
..   ...    ...    ...         ...  ...        ...     ...             ...
313   SA     59  R0444  8110050070   3m 2023-09-28       0             NaN
314   YQ     91  R0485  8110020104   3m 2023-09-28       0             NaN
315   YQ     87  R0120  8110020106   3m 2023-09-28       0             NaN
316   IJ     15  R0591  8110050092   3m 2023-09-29       0             NaN
317   IJ      9  R0460  8110090003   3m 2023-09-29       0             NaN

[318 rows x 8 columns]

In [18]:
follow_up23 = follow_up[(follow_up['date'] > threshold_date)]

In [19]:
follow_up23

    fusp  fuspi    rid        fcid type       date  status  closure_reason
189   SA      6  R0063  8110050010  12m 2022-10-13       1             1.0
190   SA     16  R0066  8110060006  12m 2022-10-13       1             1.0
191   YQ     59  R0185  8110020066   6m 2022-10-20       1             1.0
192   YQ     81  R0415  8110020102   3m 2022-12-01       0             NaN
193   YQ     63  R0189  8110050033   6m 2022-12-07       1             1.0
..   ...    ...    ...         ...  ...        ...     ...             ...
313   SA     59  R0444  8110050070   3m 2023-09-28       0             NaN
314   YQ     91  R0485  8110020104   3m 2023-09-28       0             NaN
315   YQ     87  R0120  8110020106   3m 2023-09-28       0             NaN
316   IJ     15  R0591  8110050092   3m 2023-09-29       0             NaN
317   IJ      9  R0460  8110090003   3m 2023-09-29       0             NaN

[129 rows x 8 columns]

In [21]:
fu23_sex = pd.merge(follow_up23, unique_scr[['rid', 'sex']], on='rid', how='left')

In [28]:
unique_client_fu23_sex = fu23_sex.drop_duplicates(subset='rid')
unique_client_fu23_sex

,fusp,fuspi,rid,fcid,type,date,status,closure_reason,sex
0,SA,6,R0063,8110050010,12m,2022-10-13,1,1.0,1
1,SA,16,R0066,8110060006,12m,2022-10-13,1,1.0,1
2,YQ,59,R0185,8110020066,6m,2022-10-20,1,1.0,2
3,YQ,81,R0415,8110020102,3m,2022-12-01,0,NaN,2
4,YQ,63,R0189,8110050033,6m,2022-12-07,1,1.0,1
...,...,...,...,...,...,...,...,...,...
124,SA,59,R0444,8110050070,3m,2023-09-28,0,NaN,1
125,YQ,91,R0485,8110020104,3m,2023-09-28,0,NaN,2
126,YQ,87,R0120,8110020106,3m,2023-09-28,0,NaN,2
127,IJ,15,R0591,8110050092,3m,2023-09-29,0,NaN,1
128,IJ,9,R0460,8110090003,3m,2023-09-29,0,NaN,1

In [27]:
normalized_value_counts(unique_client_fu23_sex['sex'])

       N       %
sex
1     85  89.47%
2      9   9.47%
<NA>   1   1.05%

In [30]:
normalized_value_counts(fu23_sex['type']).to_clipboard()

In [31]:
normalized_value_counts(unique_client_fu23_sex['closure_reason'])

                 N       %
closure_reason
NaN             48  50.53%
1.0             45  47.37%
-2.0             1   1.05%
-7.0             1   1.05%