In [1]:
import pandas as pd
from column_names_groups import *
from mfyfunctions import *
from analysis_functions import *

In [2]:
pd.set_option('display.float_format', '{:.1f}'.format)
pd.set_option('display.max_colwidth', None)
# noinspection PyTypeChecker
threshold_date = pd.Timestamp('2022-09-30')

In [ ]:
# pei = pd.read_csv(r'011/datasets/0101_ps_pe_092310.csv')
# pei[pei_date_columns] = pei[pei_date_columns].apply(pd.to_datetime)

In [3]:
# Calling screening dataset to get some information for intake
scr = pd.read_csv(r'011/datasets/0000_ps_sc_092310.csv')
scr[screening_date_columns] = scr[screening_date_columns].apply(pd.to_datetime)
scr[screening_all_int_columns] = scr[screening_all_int_columns].astype('Int64')
unique_scr = scr.drop_duplicates(subset='rid')

In [ ]:
# pei

In [ ]:
# pei = pd.merge(pei, unique_scr[['rid', 'sex', 'age']], on='rid', how='left')
# pei

In [ ]:
# pei['pef'].value_counts()

In [ ]:
# trw = pd.read_csv(r'011/datasets/0110_ps_tr_092310.csv')
# trw[trw_date_columns] = trw[trw_date_columns].apply(pd.to_datetime)

In [ ]:
# trw_sex = pd.merge(trw, unique_scr[['rid', 'sex']], on='rid', how='left')
# trw23 = trw_sex[(trw_sex[trw_date_columns] > threshold_date).any(axis=1)]

In [ ]:
# trw23

In [4]:
td = pd.read_csv(r'011/datasets/0111_ps_td_092310.csv')
td[td_date_columns] = td[td_date_columns].apply(pd.to_datetime)

In [5]:
td_sex = pd.merge(td, unique_scr[['rid','sex']], on='rid', how='left')

In [6]:
td_sex_cs = td_sex.drop(['is1', 'is2', 'is3', 'tdt'], axis=1)

In [7]:
td_sex_cs23 = td_sex_cs[(td_sex_cs[['cslt', 'csnt']] > threshold_date).any(axis=1)]

In [8]:
td_sex_cs23

,tdsp,tdspi,rid,fcid,tdcc,cslt,csnt,ld,iu,cw,com,adv,tdis,sex
7,YQ,8,R0110,8110050018,11,2022-10-31,2022-10-31,0,1,1,1,1,110,1
8,YQ,9,R0109,8110050020,11,2022-10-31,2022-10-31,1,1,1,1,1,0,1
9,YQ,10,R0096,8110020057,11,2022-10-31,2022-10-31,1,0,1,0,1,0,1
10,YQ,11,R0102,8110050015,11,2022-11-01,2022-11-01,1,1,1,1,1,111,1
11,YQ,12,R0125,8110050025,11,2022-12-05,2022-12-05,0,0,1,0,1,0,1
12,YQ,13,R0129,8110050029,11,2022-12-05,2022-12-05,0,0,1,0,0,0,1
13,YQ,14,R0226,8110050042,11,2022-12-02,2022-12-02,1,1,1,1,1,0,1
14,YQ,15,R0184,8110050032,11,2022-12-02,2022-12-02,0,1,1,1,1,0,1
15,YQ,16,R0346,8110050053,11,2022-12-22,2022-12-22,0,1,1,1,1,0,1
16,YQ,17,R0336,8110050059,11,2022-12-02,2022-12-02,1,1,1,1,1,110,1
17,YQ,18,R0049,8110060002,11,2022-12-21,2022-12-21,1,1,1,1,1,0,1
18,YQ,19,R0057,8110050006,11,2022-12-21,2022-12-21,1,1,1,1,1,0,1
19,YQ,20,R0357,8110050036,11,2022-12-21,2022-12-21,1,1,1,1,1,0,1
20,YQ,21,R0112,8110050019,11,2022-10-31,2022-10-31,0,1,1,1,1,110,1
21,YQ,22,R0114,8110050021,11,2022-10-31,2022-10-31,0,1,1,1,1,110,1
22,YQ,23,R0415,8110020102,11,2023-05-11,2023-05-11,1,1,0,1,1,0,2
23,YQ,24,R0452,8110050080,11,2023-08-23,2023-08-23,1,1,1,0,0,0,1
24,YQ,25,R0534,8110050087,11,2023-08-24,2023-08-24,1,1,1,1,0,0,1
25,YQ,26,R0378,8110050066,11,2023-08-25,2023-08-25,1,0,1,0,0,0,1
31,SA,6,R0400,8110050037,11,2023-06-15,2023-06-15,1,0,1,0,1,0,1
33,SA,8,R0077,8110060007,101,2023-08-01,2023-08-08,1,1,1,1,1,110,1
34,SA,9,R0065,8110060004,11,2023-05-03,2023-05-03,0,1,1,1,1,110,1
35,SA,10,R0066,8110060006,11,2023-05-03,2023-05-03,0,1,1,1,1,111,1
36,SA,11,R0059,8110050007,11,2023-06-21,2023-06-21,0,0,1,0,1,0,<NA>
37,SA,12,R0061,8110020050,11,2023-05-03,2023-05-03,1,1,1,1,1,0,1
38,SA,13,R0118,8110020068,11,2022-11-30,2022-11-30,1,1,1,1,1,0,1
39,SA,14,R0155,8110020067,11,2022-11-30,2022-11-30,1,1,1,1,1,110,1
40,SA,15,R0334,8110020081,11,2022-11-21,2022-11-21,1,1,1,1,1,0,1
41,SA,16,R0140,8110020070,11,2022-11-30,2022-11-30,0,1,1,0,1,0,1
42,SA,17,R0255,8110070004,11,2022-12-19,2022-12-19,0,1,1,0,0,110,1
43,SA,18,R0089,8110060012,11,2022-12-01,2022-12-01,1,1,1,1,1,110,1
44,SA,19,R0094,8110050013,11,2022-10-31,2022-10-31,0,1,1,0,1,0,1
45,SA,20,R0095,8110050012,11,2022-10-31,2022-10-31,0,1,1,0,0,0,1
46,IJ,1,R0402,8110020119,11,2023-07-24,2023-07-24,0,1,1,1,1,111,1
47,IJ,2,R0314,8110020091,11,2023-07-31,2023-07-31,0,1,1,1,0,110,1
48,IJ,3,R0359,8110050048,101,2023-09-07,2023-09-12,0,1,1,1,0,0,1
49,IJ,4,R0215,8110020080,101,2023-09-07,2023-09-11,0,1,1,1,0,0,1
50,LA,1,R0300,8110020093,101,2023-08-04,2023-07-26,1,1,1,0,1,111,1
51,LA,2,R0083,8110060010,11,2023-09-07,2023-09-07,0,0,1,0,1,0,1
52,LA,3,R0294,8110020113,11,2023-09-11,2023-09-11,0,0,1,0,0,0,1
53,LA,4,R0521,8110020114,11,2023-09-26,2023-09-26,0,0,1,0,0,0,1
54,MT,1,R0501,8110020120,101,2023-08-03,2023-07-28,1,1,1,1,1,110,1
55,MT,2,R0333,8110020107,1,2023-08-03,NaT,1,1,1,0,0,0,1
56,MT,3,R0511,8110020112,101,2023-08-21,2023-08-28,0,1,1,0,0,0,1
57,MT,4,R0406,8110050045,101,2023-08-23,2023-08-29,1,1,1,1,1,0,1
58,MT,5,R0391,8110050067,101,2023-08-29,2023-09-05,1,1,1,1,1,0,1
59,MT,6,R0497,8110020115,11,2023-09-12,2023-09-12,1,1,1,0,0,0,1
60,MT,7,R0367,8110020110,11,2023-09-15,2023-09-15,0,1,1,1,0,0,1

In [13]:
td_sex_cs23_pathways = td_sex_cs23[td_pathways]
counts = td_sex_cs23_pathways.apply(lambda x: (x ==1).sum())
total_counts = td_sex_cs23_pathways.count()
percentages = (counts / total_counts).round(2)
counts_df = pd.DataFrame({
    'Column': counts.index,
    'Count of 1s': counts.values,
    'Total Observation': total_counts.values,
    'Percentage of 1s': percentages.values
})

counts_df

  Column  Count of 1s  Total Observation  Percentage of 1s
0     ld           25                 48               0.5
1     iu           39                 48               0.8
2     cw           47                 48               1.0
3    com           30                 48               0.6
4    adv           33                 48               0.7

In [15]:
td_sex_cs23['sex'].value_counts(dropna=False)

sex
1       46
2        1
<NA>     1
Name: count, dtype: Int64

In [16]:
td_sex_is23 = td_sex[(td_sex[['is1', 'is2', 'is3']] > threshold_date).any(axis=1)]
td_sex_is23

,tdsp,tdspi,rid,fcid,tdcc,cslt,csnt,ld,iu,cw,com,adv,tdis,is1,is2,is3,tdt,sex
7,YQ,8,R0110,8110050018,11,2022-10-31,2022-10-31,0,1,1,1,1,110,2023-05-04,2023-05-18,NaT,2,1
10,YQ,11,R0102,8110050015,11,2022-11-01,2022-11-01,1,1,1,1,1,111,2023-07-28,2023-08-10,2023-08-17,3,1
16,YQ,17,R0336,8110050059,11,2022-12-02,2022-12-02,1,1,1,1,1,110,2023-08-02,2023-08-09,NaT,2,1
20,YQ,21,R0112,8110050019,11,2022-10-31,2022-10-31,0,1,1,1,1,110,2023-08-16,2023-08-23,NaT,2,1
21,YQ,22,R0114,8110050021,11,2022-10-31,2022-10-31,0,1,1,1,1,110,2023-05-16,2023-05-23,NaT,2,1
33,SA,8,R0077,8110060007,101,2023-08-01,2023-08-08,1,1,1,1,1,110,2023-08-21,2023-08-28,NaT,2,1
34,SA,9,R0065,8110060004,11,2023-05-03,2023-05-03,0,1,1,1,1,110,2023-06-02,2023-06-05,NaT,2,1
35,SA,10,R0066,8110060006,11,2023-05-03,2023-05-03,0,1,1,1,1,111,2023-08-22,2023-08-29,2023-09-07,3,1
39,SA,14,R0155,8110020067,11,2022-11-30,2022-11-30,1,1,1,1,1,110,2023-05-31,2023-06-05,NaT,2,1
42,SA,17,R0255,8110070004,11,2022-12-19,2022-12-19,0,1,1,0,0,110,2023-07-28,2023-08-04,NaT,2,1
43,SA,18,R0089,8110060012,11,2022-12-01,2022-12-01,1,1,1,1,1,110,2023-08-03,2023-08-17,NaT,2,1
46,IJ,1,R0402,8110020119,11,2023-07-24,2023-07-24,0,1,1,1,1,111,2023-07-08,2023-08-18,2023-09-15,3,1
47,IJ,2,R0314,8110020091,11,2023-07-31,2023-07-31,0,1,1,1,0,110,2023-09-07,2023-09-15,NaT,2,1
50,LA,1,R0300,8110020093,101,2023-08-04,2023-07-26,1,1,1,0,1,111,2023-08-11,2023-08-17,2023-08-25,3,1
54,MT,1,R0501,8110020120,101,2023-08-03,2023-07-28,1,1,1,1,1,110,2023-08-09,2025-08-25,NaT,2,1

In [18]:
creative_ws = pd.read_csv(r'011/datasets/1000_ps_cw_092310.csv')
creative_ws[cws_date_columns] = creative_ws[cws_date_columns].apply(pd.to_datetime)

In [21]:
creative_ws_sex = pd.merge(creative_ws, unique_scr[['rid', 'sex']], on='rid', how='left')
creative_ws_sex23 = creative_ws_sex[(creative_ws_sex[cws_date_columns] > threshold_date).any(axis=1)]

In [24]:
# creative_ws_sex23

In [25]:
# creative_ws_sex23['cwindx'].value_counts()

In [35]:
awareness = pd.read_csv(r'011/datasets/1001_ps_aw_092310.csv')
awareness['aws'] = awareness['aws'].apply(pd.to_datetime)
# awareness_sex = pd.merge(awareness, unique_scr[['rid', 'sex']], on='rid', how='left')

In [31]:
# awareness_sex23 = creative_ws_sex[(creative_ws_sex[cws_date_columns] > threshold_date).any(axis=1)]

In [36]:
# awareness_sex23
awareness

   awsp  awspi    rid  fcid  sex  age awloc  awindx        aws
0    IJ      1  R0942   NaN    2   35    SF       2 2023-09-28
1    IJ      2  R0943   NaN    1   36    SF       2 2023-09-28
2    IJ      3  R0944   NaN    1   55    SF       2 2023-09-28
3    IJ      4  R0945   NaN    2   54    SF       2 2023-09-28
4    IJ      5  R0946   NaN    1   52    SF       2 2023-09-28
5    IJ      6  R0947   NaN    2   36    SF       2 2023-09-28
6    IJ      7  R0948   NaN    2   37    SF       2 2023-09-28
7    IJ      8  R0958   NaN    2   37    SF       2 2023-09-28
8    IJ      9  R0949   NaN    1   52    SF       2 2023-09-28
9    IJ     10  R0950   NaN    2   28    SF       2 2023-09-28
10   IJ     11  R0951   NaN    1   41    SF       2 2023-09-28
11   IJ     12  R0952   NaN    2   49    SF       2 2023-09-28
12   IJ     13  R0953   NaN    1   41    SF       2 2023-09-28
13   IJ     14  R0954   NaN    2   43    SF       2 2023-09-28
14   IJ     15  R0955   NaN    2   45    SF       2 2023-09-28
15   IJ     16  R0956   NaN    2   45    SF       2 2023-09-28
16   IJ     17  R0957   NaN    1   45    SF       2 2023-09-28
17   MT      1  R0814   NaN    1   33   GTZ       1 2023-07-14
18   MT      2  R0815   NaN    2   31   GTZ       1 2023-07-14
19   MT      3  R0816   NaN    2   31   GTZ       1 2023-07-14
20   MT      4  R0817   NaN    2   46   GTZ       1 2023-07-14
21   MT      5  R0818   NaN    2   38   GTZ       1 2023-07-14