In [1]:
import pandas as pd
from column_names_groups import *
from mfyfunctions import *
from analysis_functions import *

In [2]:
pd.set_option('display.float_format', '{:.1f}'.format)
pd.set_option('display.max_colwidth', None)
# noinspection PyTypeChecker
threshold_date = pd.Timestamp('2022-09-30')

In [3]:
psfs = pd.read_csv(r'011/datasets/1010_pt_pf_092310.csv')
psfs[psfs_date_columns] = psfs[psfs_date_columns].apply(pd.to_datetime)
pt_intake = pd.read_csv(r'011/datasets/1011_pt_nt_092310.csv')
# pt_intake[ptnt_date_columns] = pt_intake[ptnt_date_columns].apply(pd.to_datetime)
pt_reintake = pd.read_csv(r'011/datasets/1100_pt_re_092310.csv')
# pt_reintake[ptnt_date_columns] = pt_reintake[ptnt_date_columns].apply(pd.to_datetime)
pt_group = pd.read_csv(r'011/datasets/1101_pt_gc_092310.csv')
pt_group[ptgc_date_columns] = pt_group[ptgc_date_columns].apply(pd.to_datetime)
pt_individual = pd.read_csv(r'011/datasets/1110_pt_ic_092310.csv')
pt_individual[ptic_date_columns] = pt_individual[ptic_date_columns].apply(pd.to_datetime)
pt_followup = pd.read_csv(r'011/datasets/1111_pt_fu_092310.csv')
pt_followup[ptfua_date_columns] = pt_followup[ptfua_date_columns].apply(pd.to_datetime)

In [4]:
# Calling screening dataset to get some information for intake
scr = pd.read_csv(r'011/datasets/0000_ps_sc_092310.csv')
scr[screening_date_columns] = scr[screening_date_columns].apply(pd.to_datetime)
scr[screening_all_int_columns] = scr[screening_all_int_columns].astype('Int64')
unique_scr = scr.drop_duplicates(subset='rid')

In [5]:
# psfs23 = psfs[(psfs['psfs'] > threshold_date)]
# psfs

In [14]:
# psfs23

In [15]:
# psfs23['sex'].value_counts(dropna=False)

In [17]:
# age_groups = categorize_and_count_ages(
#     psfs23['age']
# )

In [18]:
# normalized_value_counts(age_groups)

In [19]:
# date_psfs = psfs23.set_index('psfs')
# quarterly_counts = date_psfs.resample('Q').size()
# quarterly_counts

In [21]:
# pt_intake[['ptnt1', 'ptnt2']] = pt_intake[['ptnt1', 'ptnt2']].apply(pd.to_datetime)

In [27]:
# pt_intake23 = pt_intake[(pt_intake[['ptnt1', 'ptnt2']] > threshold_date).any(axis=1)]

In [32]:
# pt_intake23_sex = pd.merge(pt_intake23, unique_scr[['rid', 'sex']], on='rid', how='left')

In [37]:
# pt_intake23_sex

In [38]:
# normalized_value_counts(pt_intake23_sex['sex'])

In [40]:
# pt_group23 = pt_group[(pt_group[ptgc_date_columns] > threshold_date).any(axis=1)]

In [50]:
# pt_group23

In [51]:
pt_individual

,pticsp,pticspi,rid,fcid,ptic1,ptic2,ptic3,ptic4,ptic5,ptic6,ptic7,ptic8,ptic9,ptic10,ptict,pticst
0,HR,1,R0120,8110020106,2023-05-07,2023-06-14,2023-06-20,2023-07-05,NaT,NaT,NaT,NaT,NaT,NaT,4,0
1,HR,2,R0582,8110050094,2023-06-13,2023-06-19,2023-07-10,2023-07-17,2023-07-27,NaT,NaT,NaT,NaT,NaT,5,0
2,HR,3,R0592,8110050096,2023-06-13,2023-06-19,2023-07-06,2023-07-13,2023-07-20,2023-07-27,2023-08-10,2023-08-25,2023-08-31,NaT,9,0
3,HR,4,R0415,8110020102,2023-04-19,2023-05-09,2023-05-16,2023-05-23,2023-06-14,2023-06-21,2023-07-27,2023-08-03,2023-08-25,2023-08-29,0,1
4,HR,5,R0393,8110050086,2023-05-03,2023-05-09,2023-05-17,2023-05-23,2023-06-01,NaT,NaT,NaT,NaT,NaT,5,0
5,HR,6,R0511,8110020112,2023-05-04,2023-05-10,2023-05-17,2023-05-24,2023-05-31,2023-06-22,NaT,NaT,NaT,NaT,6,0
6,HR,7,R0333,8110020107,2023-09-26,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,0,1
7,HJ,1,R0057,8110050006,2021-06-17,2021-06-24,2021-07-01,2021-07-08,2021-07-15,2021-07-22,2021-07-29,2021-08-09,2021-08-16,2021-08-23,11,0
8,HJ,2,R0073,8110020051,2021-09-13,2021-09-17,2021-09-20,2021-09-24,2021-10-01,2021-10-08,2021-10-15,2021-10-20,2021-10-25,NaT,9,0
9,HJ,3,R0084,8110020053,2021-12-07,2021-12-14,2021-12-21,2021-10-28,2022-01-04,2022-01-11,2022-01-19,2022-01-26,2022-02-02,2022-03-25,10,0
10,HJ,4,R0501,8110020120,2023-05-17,2023-05-25,2023-06-01,2023-06-09,NaT,NaT,NaT,NaT,NaT,NaT,4,0
11,HJ,5,R0444,8110050070,2023-06-02,2023-06-09,2023-06-20,NaT,NaT,NaT,NaT,NaT,NaT,NaT,3,0
12,HJ,6,R0534,8110050087,2023-05-31,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,1,0
13,HJ,7,R0246,8110020084,2023-05-22,2023-05-31,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,2,0
14,HJ,8,R0441,8110050063,2023-05-05,2023-05-12,2023-05-24,2023-06-02,2023-06-08,2023-08-16,NaT,NaT,NaT,NaT,5,0
15,HJ,9,R0183,8110020101,2023-06-05,2023-06-12,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,2,0
16,HJ,10,R0430,8110050061,2023-06-06,2023-06-13,2023-07-06,2023-07-13,2023-08-11,2023-08-23,2023-09-14,NaT,NaT,NaT,0,0
17,HJ,11,R0337,8110020100,2023-07-06,2023-07-14,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,0,0
18,HJ,12,R0552,8110050085,2023-01-10,2023-04-13,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,2,0
19,HJ,13,R0100,8110050077,2022-11-17,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,1,0
20,HJ,14,R0725,8110050097,2023-08-04,2023-08-11,2023-08-25,2023-09-01,2023-09-08,2023-09-15,NaT,NaT,NaT,NaT,0,1
21,HJ,15,R0089,8110060012,2023-09-14,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,0,1