In [1]:
import pandas as pd
import os 
from ingredients import *
from parse_funcs import *
from mfyfunctions import *
from analysis_functions import *

In [2]:
pd.set_option('display.float_format', '{:.1f}'.format)
pd.set_option('display.max_colwidth', None)
# noinspection PyTypeChecker
threshold_date = pd.Timestamp('2022-09-30')

In [3]:
datasets_path = r'011/datasets/'
datasets = os.listdir(datasets_path)

In [4]:
dataframes = {}

In [5]:
for dataset in datasets:
    if dataset.endswith('.csv'):
        dataset_path = os.path.join(datasets_path, dataset)
        df = pd.read_csv(dataset_path)
        dataset_name = datasets_names[dataset]
        globals()[dataset_name] = df
        dataframes[dataset_name] = df

In [6]:
dataframes.keys()

dict_keys(['scr', 'int', 'gc', 'ic', 'fu', 'pei', 'trw', 'td', 'cws', 'aws', 'psfs', 'ptnt', 'ptre', 'ptgc', 'ptic', 'ptfu'])

In [7]:
# Creating empty dataframe
visits_columns = ['rid', 'sex', 'age', 'visit','date']
visits = pd.DataFrame(columns=visits_columns)

In [10]:
for key, value in dataframes.items():
    date_columns = parse_date_columns(value)
    df = melt_and_categorize_dates(
        value,
        date_columns,
        sort_by_date=True,
        var_name='visit',
        value_name='date'
    )
    if key == 'scr':
        visits = visits.assign(
            rid=df['rid'].values,
            sex=df['sex'].values,
            age=df['age'].values,
            visit=df['visit'].values,
            date=df['date'].values
        )
    else:
        visits = pd.concat([visits, df[['rid', 'visit', 'date']]], ignore_index=True)

In [11]:
visits

        rid  sex  age visit       date
0     R0028  1.0 48.0   sc1 2020-06-23
1     R0029  1.0 46.0   sc1 2020-06-24
2     R0031  2.0 59.0   sc1 2020-07-02
3     R0034  2.0 34.0   sc1 2020-07-03
4     R0039  1.0 43.0   sc1 2020-11-10
...     ...  ...  ...   ...        ...
4687  R0592  NaN  NaN  pt3m 2023-09-28
4688  R0367  NaN  NaN  pt3m 2023-09-28
4689  R0391  NaN  NaN  pt3m 2023-09-28
4690  R0441  NaN  NaN  pt3m 2023-09-28
4691  R0298  NaN  NaN  pt3m 2023-09-28

[4692 rows x 5 columns]

In [ ]:
# visits.to_csv('visit.csv')

In [ ]:
# visits['date'] = visits['date'].apply(pd.to_datetime)

In [ ]:
# visits.to_csv(r'011/datasets/visits.csv', index=False)

In [12]:
visits23 = visits[(visits['date'] > threshold_date)]
visits23

        rid  sex  age visit       date
292   R0553  1.0 31.0   sc1 2022-10-03
293   R0552  1.0 37.0   sc1 2022-10-04
294   R0393  1.0 48.0   sc1 2022-10-10
295   R0558  2.0 49.0   sc1 2022-10-21
296   R0556  2.0 63.0   sc1 2022-10-24
...     ...  ...  ...   ...        ...
4687  R0592  NaN  NaN  pt3m 2023-09-28
4688  R0367  NaN  NaN  pt3m 2023-09-28
4689  R0391  NaN  NaN  pt3m 2023-09-28
4690  R0441  NaN  NaN  pt3m 2023-09-28
4691  R0298  NaN  NaN  pt3m 2023-09-28

[2210 rows x 5 columns]

In [ ]:
# visits23.to_csv('visits23.csv')
visits23.to_csv(r'011/datasets/visits23.csv', index=False)

In [ ]:
# visits23csv['rid'].unique()
visits23

In [ ]:
visits23['date'].value_counts().max()

In [ ]:
visits23['date'].mode()

In [ ]:
visits23['rid'].mode()

In [ ]:
visits23['rid'].value_counts().max()