In [2]:
import pandas as pd
import os 
from ingredients import *
from parse_funcs import *
from mfyfunctions import *
from analysis_functions import *

In [3]:
pd.set_option('display.float_format', '{:.1f}'.format)
pd.set_option('display.max_colwidth', None)
# noinspection PyTypeChecker
threshold_date = pd.Timestamp('2022-09-30')

In [4]:
datasets_path = r'011/datasets/'
datasets = os.listdir(datasets_path)

In [5]:
dataframes = {}

In [6]:
for dataset in datasets:
    if dataset.endswith('.csv'):
        dataset_path = os.path.join(datasets_path, dataset)
        df = pd.read_csv(dataset_path)
        dataset_name = datasets_names[dataset]
        globals()[dataset_name] = df
        dataframes[dataset_name] = df

In [7]:
dataframes.keys()

dict_keys(['scr', 'int', 'gc', 'ic', 'fu', 'pei', 'trw', 'td', 'cws', 'aws', 'psfs', 'ptnt', 'ptre', 'ptgc', 'ptic', 'ptfu'])

In [20]:
td23 = td[(td[['is1', 'is2', 'is3']] > threshold_date).any(axis=1)]

In [21]:
td23

,tdsp,tdspi,rid,fcid,tdcc,cslt,csnt,ld,iu,cw,com,adv,tdis,is1,is2,is3,tdt
7,YQ,8,R0110,8110050018,11,2022-10-31,2022-10-31,0,1,1,1,1,110,2023-05-04,2023-05-18,NaT,2
10,YQ,11,R0102,8110050015,11,2022-11-01,2022-11-01,1,1,1,1,1,111,2023-07-28,2023-08-10,2023-08-17,3
16,YQ,17,R0336,8110050059,11,2022-12-02,2022-12-02,1,1,1,1,1,110,2023-08-02,2023-08-09,NaT,2
20,YQ,21,R0112,8110050019,11,2022-10-31,2022-10-31,0,1,1,1,1,110,2023-08-16,2023-08-23,NaT,2
21,YQ,22,R0114,8110050021,11,2022-10-31,2022-10-31,0,1,1,1,1,110,2023-05-16,2023-05-23,NaT,2
33,SA,8,R0077,8110060007,101,2023-08-01,2023-08-08,1,1,1,1,1,110,2023-08-21,2023-08-28,NaT,2
34,SA,9,R0065,8110060004,11,2023-05-03,2023-05-03,0,1,1,1,1,110,2023-06-02,2023-06-05,NaT,2
35,SA,10,R0066,8110060006,11,2023-05-03,2023-05-03,0,1,1,1,1,111,2023-08-22,2023-08-29,2023-09-07,3
39,SA,14,R0155,8110020067,11,2022-11-30,2022-11-30,1,1,1,1,1,110,2023-05-31,2023-06-05,NaT,2
42,SA,17,R0255,8110070004,11,2022-12-19,2022-12-19,0,1,1,0,0,110,2023-07-28,2023-08-04,NaT,2
43,SA,18,R0089,8110060012,11,2022-12-01,2022-12-01,1,1,1,1,1,110,2023-08-03,2023-08-17,NaT,2
46,IJ,1,R0402,8110020119,11,2023-07-24,2023-07-24,0,1,1,1,1,111,2023-07-08,2023-08-18,2023-09-15,3
47,IJ,2,R0314,8110020091,11,2023-07-31,2023-07-31,0,1,1,1,0,110,2023-09-07,2023-09-15,NaT,2
50,LA,1,R0300,8110020093,101,2023-08-04,2023-07-26,1,1,1,0,1,111,2023-08-11,2023-08-17,2023-08-25,3
54,MT,1,R0501,8110020120,101,2023-08-03,2023-07-28,1,1,1,1,1,110,2023-08-09,2025-08-25,NaT,2

In [17]:
td23_with_sex = pd.merge(td23, scr[['rid', 'sex']], on='rid', how='left')

In [18]:
td23_with_sex

,tdsp,tdspi,rid,fcid,tdcc,cslt,csnt,ld,iu,cw,com,adv,tdis,is1,is2,is3,tdt,sex
0,YQ,8,R0110,8110050018,11,2022-10-31,2022-10-31,0,1,1,1,1,110,2023-05-04,2023-05-18,NaT,2,1.0
1,YQ,11,R0102,8110050015,11,2022-11-01,2022-11-01,1,1,1,1,1,111,2023-07-28,2023-08-10,2023-08-17,3,1.0
2,YQ,11,R0102,8110050015,11,2022-11-01,2022-11-01,1,1,1,1,1,111,2023-07-28,2023-08-10,2023-08-17,3,1.0
3,YQ,11,R0102,8110050015,11,2022-11-01,2022-11-01,1,1,1,1,1,111,2023-07-28,2023-08-10,2023-08-17,3,1.0
4,YQ,17,R0336,8110050059,11,2022-12-02,2022-12-02,1,1,1,1,1,110,2023-08-02,2023-08-09,NaT,2,1.0
5,YQ,21,R0112,8110050019,11,2022-10-31,2022-10-31,0,1,1,1,1,110,2023-08-16,2023-08-23,NaT,2,1.0
6,YQ,22,R0114,8110050021,11,2022-10-31,2022-10-31,0,1,1,1,1,110,2023-05-16,2023-05-23,NaT,2,1.0
7,SA,8,R0077,8110060007,101,2023-08-01,2023-08-08,1,1,1,1,1,110,2023-08-21,2023-08-28,NaT,2,1.0
8,SA,9,R0065,8110060004,11,2023-05-03,2023-05-03,0,1,1,1,1,110,2023-06-02,2023-06-05,NaT,2,1.0
9,SA,10,R0066,8110060006,11,2023-05-03,2023-05-03,0,1,1,1,1,111,2023-08-22,2023-08-29,2023-09-07,3,1.0
10,SA,14,R0155,8110020067,11,2022-11-30,2022-11-30,1,1,1,1,1,110,2023-05-31,2023-06-05,NaT,2,1.0
11,SA,17,R0255,8110070004,11,2022-12-19,2022-12-19,0,1,1,0,0,110,2023-07-28,2023-08-04,NaT,2,1.0
12,SA,18,R0089,8110060012,11,2022-12-01,2022-12-01,1,1,1,1,1,110,2023-08-03,2023-08-17,NaT,2,1.0
13,IJ,1,R0402,8110020119,11,2023-07-24,2023-07-24,0,1,1,1,1,111,2023-07-08,2023-08-18,2023-09-15,3,1.0
14,IJ,2,R0314,8110020091,11,2023-07-31,2023-07-31,0,1,1,1,0,110,2023-09-07,2023-09-15,NaT,2,1.0
15,LA,1,R0300,8110020093,101,2023-08-04,2023-07-26,1,1,1,0,1,111,2023-08-11,2023-08-17,2023-08-25,3,1.0
16,MT,1,R0501,8110020120,101,2023-08-03,2023-07-28,1,1,1,1,1,110,2023-08-09,2025-08-25,NaT,2,1.0

In [9]:
# Creating empty dataframe
visits_columns = ['rid', 'sex', 'age', 'visit','date']
visits = pd.DataFrame(columns=visits_columns)

In [10]:
for key, value in dataframes.items():
    date_columns = parse_date_columns(value)
    df = melt_and_categorize_dates(
        value,
        date_columns,
        sort_by_date=True,
        var_name='visit',
        value_name='date'
    )
    if key == 'scr':
        visits = visits.assign(
            rid=df['rid'].values,
            sex=df['sex'].values,
            age=df['age'].values,
            visit=df['visit'].values,
            date=df['date'].values
        )
    else:
        visits = pd.concat([visits, df[['rid', 'visit', 'date']]], ignore_index=True)

In [11]:
visits

        rid  sex  age visit       date
0     R0028  1.0 48.0   sc1 2020-06-23
1     R0029  1.0 46.0   sc1 2020-06-24
2     R0031  2.0 59.0   sc1 2020-07-02
3     R0034  2.0 34.0   sc1 2020-07-03
4     R0039  1.0 43.0   sc1 2020-11-10
...     ...  ...  ...   ...        ...
4687  R0592  NaN  NaN  pt3m 2023-09-28
4688  R0367  NaN  NaN  pt3m 2023-09-28
4689  R0391  NaN  NaN  pt3m 2023-09-28
4690  R0441  NaN  NaN  pt3m 2023-09-28
4691  R0298  NaN  NaN  pt3m 2023-09-28

[4692 rows x 5 columns]

In [ ]:
# visits.to_csv('visit.csv')

In [12]:
visits['date'] = visits['date'].apply(pd.to_datetime)

In [13]:
# visits.to_csv(r'011/datasets/visits.csv', index=False)

In [14]:
visits23 = visits[(visits['date'] > threshold_date)]
visits23

        rid  sex  age visit       date
292   R0553  1.0 31.0   sc1 2022-10-03
293   R0552  1.0 37.0   sc1 2022-10-04
294   R0393  1.0 48.0   sc1 2022-10-10
295   R0558  2.0 49.0   sc1 2022-10-21
296   R0556  2.0 63.0   sc1 2022-10-24
...     ...  ...  ...   ...        ...
4687  R0592  NaN  NaN  pt3m 2023-09-28
4688  R0367  NaN  NaN  pt3m 2023-09-28
4689  R0391  NaN  NaN  pt3m 2023-09-28
4690  R0441  NaN  NaN  pt3m 2023-09-28
4691  R0298  NaN  NaN  pt3m 2023-09-28

[2210 rows x 5 columns]

In [ ]:
# visits23.to_csv('visits23.csv')
visits23.to_csv(r'011/datasets/visits23.csv', index=False)

In [ ]:
# visits23csv['rid'].unique()
visits23

In [ ]:
visits23['date'].value_counts().max()

In [ ]:
visits23['date'].mode()

In [ ]:
visits23['rid'].mode()

In [ ]:
visits23['rid'].value_counts().max()