In [1]:
import numpy as np
import pandas as pd
import warnings
from my_static_data import *

In [2]:
pd.set_option('display.float_format', '{:.1f}'.format)
# pd.reset_option('display.float_format')
# Display maximum column width:
pd.set_option('display.max_colwidth', None)
# Suppress openpyxl data validation warning
warnings.filterwarnings("ignore", category=UserWarning, module="openpyxl")

In [3]:
threshold_date = pd.Timestamp('2023-06-30')

In [14]:
intake = pd.read_csv('0001_ps_nt_092310.csv')
intake[intake_numerical_variables] = intake[intake_numerical_variables].astype('Int64')
intake[intake_date_columns] = intake[intake_date_columns].apply(pd.to_datetime)

In [15]:
intake = intake.drop('Unnamed: 0', axis=1)
intake

,ntsp,ntspi,rid,fcid,nt,nt1,nt2,nt3,ntre,fom,...,sts,vsva,vsvp,hrd,jrn,wov,stgbv,lgbti,other,vict
0,YQ,1,R0130,8110020011,3,2019-04-26,2019-05-28,NaT,2021-01-15,0,...,0,<NA>,<NA>,<NA>,<NA>,1,0,0,0,2
1,YQ,2,R0024,8110020012,1,2019-12-26,2020-01-02,NaT,NaT,1,...,1,<NA>,<NA>,<NA>,<NA>,1,0,0,0,4
2,YQ,3,R0010,8110020013,1,2020-01-20,2020-01-29,NaT,NaT,1,...,1,<NA>,<NA>,<NA>,<NA>,1,0,0,0,3
3,YQ,4,R0009,8110020014,1,2020-01-14,2020-01-28,NaT,NaT,0,...,0,<NA>,<NA>,<NA>,<NA>,1,0,0,0,1
4,YQ,5,R0003,8110020015,3,2020-01-06,2020-01-13,NaT,2021-11-23,0,...,1,<NA>,<NA>,<NA>,<NA>,1,1,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
258,MT,2,R0721,8110110002,2,2023-05-22,2023-06-05,2023-06-13,NaT,0,...,1,0,0,0,0,1,0,0,0,4
259,MT,3,R0626,8110110003,1,2023-05-23,2023-06-13,NaT,NaT,0,...,0,0,0,0,0,1,0,0,0,1
260,MT,4,R0712,8110110004,1,2023-05-31,2023-07-03,NaT,NaT,0,...,0,0,0,0,0,1,0,0,0,3
261,MT,5,R0645,8110110005,1,2023-06-01,2023-07-28,NaT,NaT,0,...,0,0,0,0,0,1,0,0,0,1
262,MT,6,R0589,8110110006,1,2023-08-02,2023-08-17,NaT,NaT,1,...,1,0,0,0,0,1,0,0,0,3

In [16]:
nt23 = intake[(intake[['nt1', 'nt2', 'nt3', 'ntre']] > threshold_date).any(axis=1)]

In [20]:
nt23 = nt23[(nt23['nt'] > 0)]
nt23.to_clipboard()

In [21]:
intake_sessions = nt23['nt'].value_counts()
intake_sessions.to_clipboard()

In [30]:
# int_fcid = nt23[['rid', 'fcid']]
# int_fcid = pd.DataFrame(int_fcid).reset_index(drop=True)
# int_fcid

In [31]:
screening = pd.read_csv('0000_ps_sc_092310.csv')
# screening

In [29]:
# merged_df = pd.merge(int_fcid, screening, on='rid', how='inner')
# merged_df = merged_df[['rid', 'fcid', 'sex']]
# merged_df['sex'].value_counts().to_clipboard()

In [ ]:
# scr223

In [32]:
nt23

,ntsp,ntspi,rid,fcid,nt,nt1,nt2,nt3,ntre,fom,...,sts,vsva,vsvp,hrd,jrn,wov,stgbv,lgbti,other,vict
119,YQ,120,R0730,8110020124,2,2023-06-01,2023-06-20,2023-07-20,NaT,1,...,1,0,1,0,0,1,1,0,0,7
228,SA,103,R0725,8110050097,2,2023-07-14,2023-07-18,2023-07-25,NaT,0,...,0,0,1,1,0,1,0,0,0,5
229,SA,104,R0795,8110050098,2,2023-08-10,2023-08-24,2023-09-28,NaT,0,...,1,0,1,0,0,1,0,0,0,5
245,IJ,15,R0587,8110080015,1,2023-07-13,2023-07-20,NaT,NaT,0,...,1,0,0,0,0,1,0,0,0,3
248,LA,3,R0708,8110100003,2,2023-05-24,2023-06-01,2023-07-28,NaT,1,...,1,0,1,1,0,1,1,0,0,8
254,LA,9,R0644,8110100009,2,2023-06-02,2023-06-19,2023-07-25,NaT,0,...,1,0,0,0,0,1,0,0,0,4
255,LA,10,R0588,8110100010,1,2023-08-02,2023-08-17,NaT,NaT,1,...,1,0,0,0,0,1,0,0,0,3
256,LA,11,R0821,8110100011,1,2023-09-11,2023-09-18,NaT,NaT,0,...,1,0,0,0,0,1,1,0,0,3
260,MT,4,R0712,8110110004,1,2023-05-31,2023-07-03,NaT,NaT,0,...,0,0,0,0,0,1,0,0,0,3
261,MT,5,R0645,8110110005,1,2023-06-01,2023-07-28,NaT,NaT,0,...,0,0,0,0,0,1,0,0,0,1
262,MT,6,R0589,8110110006,1,2023-08-02,2023-08-17,NaT,NaT,1,...,1,0,0,0,0,1,0,0,0,3

In [34]:
nt_victimhood = pd.DataFrame({
    'column_name': victimhood,
    'count_1': (nt23[victimhood] == 1).sum(),
    'count_0': (nt23[victimhood] == 0).sum(),
    'count_nan': (nt23[victimhood].isna().sum())
}).reset_index(drop=True)

nt_victimhood

   column_name  count_1  count_0  count_nan
0          fom        4        7          0
1          sod        6        5          0
2          pts        7        4          0
3          sts        8        3          0
4         vsva        0       11          0
5         vsvp        4        7          0
6          hrd        2        9          0
7          jrn        0       11          0
8          wov       11        0          0
9        stgbv        3        8          0
10       lgbti        0       11          0
11       other        0       11          0

In [35]:
nt_victimhood.to_clipboard()