In [1]:
import numpy as np
import pandas as pd
import warnings
from my_static_data import *

In [2]:
pd.set_option('display.float_format', '{:.1f}'.format)
# pd.reset_option('display.float_format')
# Display maximum column width:
pd.set_option('display.max_colwidth', None)
# Suppress openpyxl data validation warning
warnings.filterwarnings("ignore", category=UserWarning, module="openpyxl")
threshold_date = pd.Timestamp('2023-06-30')

In [3]:
scr = pd.read_csv('0000_ps_sc_092310.csv')
scrq = scr.drop_duplicates(subset='rid', keep='last')
td = pd.read_csv('0111_ps_td_092310.csv')

In [4]:
td[td_date_columns] = td[td_date_columns].apply(pd.to_datetime)
td[td_int_columns] = td[td_int_columns].astype('Int64')
tdq323 = td[(td[td_date_columns] > threshold_date).any(axis=1)]
tdq323

,tdsp,tdspi,rid,fcid,tdcc,cslt,csnt,ld,iu,cw,com,adv,tdis,is1,is2,is3,tdt
10,YQ,11,R0102,8110050015,11,2022-11-01,2022-11-01,1,1,1,1,1,111,2023-07-28,2023-08-10,2023-08-17,3
16,YQ,17,R0336,8110050059,11,2022-12-02,2022-12-02,1,1,1,1,1,110,2023-08-02,2023-08-09,NaT,2
20,YQ,21,R0112,8110050019,11,2022-10-31,2022-10-31,0,1,1,1,1,110,2023-08-16,2023-08-23,NaT,2
23,YQ,24,R0452,8110050080,11,2023-08-23,2023-08-23,1,1,1,0,0,0,NaT,NaT,NaT,0
24,YQ,25,R0534,8110050087,11,2023-08-24,2023-08-24,1,1,1,1,0,0,NaT,NaT,NaT,0
25,YQ,26,R0378,8110050066,11,2023-08-25,2023-08-25,1,0,1,0,0,0,NaT,NaT,NaT,0
33,SA,8,R0077,8110060007,101,2023-08-01,2023-08-08,1,1,1,1,1,110,2023-08-21,2023-08-28,NaT,2
35,SA,10,R0066,8110060006,11,2023-05-03,2023-05-03,0,1,1,1,1,111,2023-08-22,2023-08-29,2023-09-07,3
42,SA,17,R0255,8110070004,11,2022-12-19,2022-12-19,0,1,1,0,0,110,2023-07-28,2023-08-04,NaT,2
43,SA,18,R0089,8110060012,11,2022-12-01,2022-12-01,1,1,1,1,1,110,2023-08-03,2023-08-17,NaT,2
46,IJ,1,R0402,8110020119,11,2023-07-24,2023-07-24,0,1,1,1,1,111,2023-07-08,2023-08-18,2023-09-15,3
47,IJ,2,R0314,8110020091,11,2023-07-31,2023-07-31,0,1,1,1,0,110,2023-09-07,2023-09-15,NaT,2
48,IJ,3,R0359,8110050048,101,2023-09-07,2023-09-12,0,1,1,1,0,0,NaT,NaT,NaT,0
49,IJ,4,R0215,8110020080,101,2023-09-07,2023-09-11,0,1,1,1,0,0,NaT,NaT,NaT,0
50,LA,1,R0300,8110020093,101,2023-08-04,2023-07-26,1,1,1,0,1,111,2023-08-11,2023-08-17,2023-08-25,3
51,LA,2,R0083,8110060010,11,2023-09-07,2023-09-07,0,0,1,0,1,0,NaT,NaT,NaT,0
52,LA,3,R0294,8110020113,11,2023-09-11,2023-09-11,0,0,1,0,0,0,NaT,NaT,NaT,0
53,LA,4,R0521,8110020114,11,2023-09-26,2023-09-26,0,0,1,0,0,0,NaT,NaT,NaT,0
54,MT,1,R0501,8110020120,101,2023-08-03,2023-07-28,1,1,1,1,1,110,2023-08-09,2025-08-25,NaT,2
55,MT,2,R0333,8110020107,1,2023-08-03,NaT,1,1,1,0,0,0,NaT,NaT,NaT,0
56,MT,3,R0511,8110020112,101,2023-08-21,2023-08-28,0,1,1,0,0,0,NaT,NaT,NaT,0
57,MT,4,R0406,8110050045,101,2023-08-23,2023-08-29,1,1,1,1,1,0,NaT,NaT,NaT,0
58,MT,5,R0391,8110050067,101,2023-08-29,2023-09-05,1,1,1,1,1,0,NaT,NaT,NaT,0
59,MT,6,R0497,8110020115,11,2023-09-12,2023-09-12,1,1,1,0,0,0,NaT,NaT,NaT,0
60,MT,7,R0367,8110020110,11,2023-09-15,2023-09-15,0,1,1,1,0,0,NaT,NaT,NaT,0

In [ ]:
td[td['fcid'] == 8110020035]

In [ ]:
td

In [ ]:
cw = pd.read_csv('1000_ps_cw_092310.csv')
cw