In [1]:
import pandas as pd

In [2]:
screening = pd.read_csv(r'../011/0000_ps_sc_092310.csv')
intake = pd.read_csv(r'../011/0001_ps_nt_092310.csv')

In [5]:
aw = pd.read_csv(r'../011/1001_ps_aw_092310.csv')
aw

   awsp  awspi    rid  fcid  sex  age awloc  awindx         aws
0    IJ      1  R0942   NaN    2   35    SF       2  2023-09-28
1    IJ      2  R0943   NaN    1   36    SF       2  2023-09-28
2    IJ      3  R0944   NaN    1   55    SF       2  2023-09-28
3    IJ      4  R0945   NaN    2   54    SF       2  2023-09-28
4    IJ      5  R0946   NaN    1   52    SF       2  2023-09-28
5    IJ      6  R0947   NaN    2   36    SF       2  2023-09-28
6    IJ      7  R0948   NaN    2   37    SF       2  2023-09-28
7    IJ      8  R0958   NaN    2   37    SF       2  2023-09-28
8    IJ      9  R0949   NaN    1   52    SF       2  2023-09-28
9    IJ     10  R0950   NaN    2   28    SF       2  2023-09-28
10   IJ     11  R0951   NaN    1   41    SF       2  2023-09-28
11   IJ     12  R0952   NaN    2   49    SF       2  2023-09-28
12   IJ     13  R0953   NaN    1   41    SF       2  2023-09-28
13   IJ     14  R0954   NaN    2   43    SF       2  2023-09-28
14   IJ     15  R0955   NaN    2   45    SF       2  2023-09-28
15   IJ     16  R0956   NaN    2   45    SF       2  2023-09-28
16   IJ     17  R0957   NaN    1   45    SF       2  2023-09-28
17   MT      1  R0814   NaN    1   33   GTZ       1  2023-07-14
18   MT      2  R0815   NaN    2   31   GTZ       1  2023-07-14
19   MT      3  R0816   NaN    2   31   GTZ       1  2023-07-14
20   MT      4  R0817   NaN    2   46   GTZ       1  2023-07-14
21   MT      5  R0818   NaN    2   38   GTZ       1  2023-07-14

In [4]:
aw['awloc'].value_counts()

awloc
SF     17
GTZ     5
Name: count, dtype: int64

In [29]:
# screening.loc[screening['rid'] == 'R0486', 'sex'] = 'Male'

In [20]:
# screening.to_csv(r'../001/0000_ps_sc_092300', index=False)
# screening.to_csv(r'../010/0000_ps_sc_092301')
# screening.to_csv(r'../010/0000_ps_sc_092302')

In [26]:
intake

,Unnamed: 0,ntsp,ntspi,rid,fcid,nt,nt1,nt2,nt3,ntre,...,sts,vsva,vsvp,hrd,jrn,wov,stgbv,lgbti,other,vict
0,0,YQ,1,R0130,8110020011,3,2019-04-26,2019-05-28,NaN,2021-01-15,...,0.0,NaN,NaN,NaN,NaN,1.0,0.0,0.0,0.0,2
1,1,YQ,2,R0024,8110020012,1,2019-12-26,2020-01-02,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,1.0,0.0,0.0,0.0,4
2,2,YQ,3,R0010,8110020013,1,2020-01-20,2020-01-29,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,1.0,0.0,0.0,0.0,3
3,3,YQ,4,R0009,8110020014,1,2020-01-14,2020-01-28,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,1.0,0.0,0.0,0.0,1
4,4,YQ,5,R0003,8110020015,3,2020-01-06,2020-01-13,NaN,2021-11-23,...,1.0,NaN,NaN,NaN,NaN,1.0,1.0,0.0,0.0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
258,258,MT,2,R0721,8110110002,2,2023-05-22,2023-06-05,2023-06-13,NaN,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,4
259,259,MT,3,R0626,8110110003,1,2023-05-23,2023-06-13,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1
260,260,MT,4,R0712,8110110004,1,2023-05-31,2023-07-03,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,3
261,261,MT,5,R0645,8110110005,1,2023-06-01,2023-07-28,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1
262,262,MT,6,R0589,8110110006,1,2023-08-02,2023-08-17,NaN,NaN,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,3